<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Shema's Workshop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Shema's Workshop</h1>
    </header>
    <main>
        <div class="menu-container">
            <h2>Menu</h2>
            <ul>
                <li><a href="/create-booking">Create Booking</a></li>
                <li><a href="/modify-booking">Modify Booking</a></li>
                <li><a href="/bookings">View Bookings</a></li>
                <li><a href="/summary-report-form">Summary Report</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </main>
</body>
</html>
