body {
    font-family: Arial, sans-serif;
    background-color: #F5E7DA; /* Light brown background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #C70039; /* Red header background */
    text-align: center;
    padding: 1rem 0;
}

    header h1 {
        color: white;
        font-size: 2rem;
    }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    .form-container h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

.form-group {
    margin: 1rem 0;
}

label {
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button, a.button {
    background-color: #C70039; /* Red button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: all 0.3s ease 0s; /* smooth transition */
}

    button:hover, a.button:hover {
        background-color: #960031; /* Darker red on hover */
    }

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white; /* White background for each booking */
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content {
    padding-top: 1rem;
    padding-bottom: 1rem; 
    max-width: calc(100% - 2rem); 
    margin: 0 auto; 
}
